<div class="layout">
  {% if tasks.size == 0 %}
    <span class="title">Well done! No tasks remaining</span>
  {% else %}
    <div class="columns">
      <div class="list"
           data-list-limit="true"
           data-list-max-height="130"
           data-list-hidden-count="true">
        {% for task in tasks %}
          <div class="item">
            <div class="meta">
              <span class="index">{{ forloop.index }}</span>
            </div>
            <div class="content">
              <span class="title title--small">{{ task.content }}</span>
              <span class="description">{{task.description}}</span>
              <div class="flex gap--small">
                {% if task.assignee %}<span class="label label--small label--underline">{{ task.assignee }}</span>{% endif %}
                <span class="label label--small label--underline">{{task.due_date}}</span>
                <span class="label label--small">{% for i in (1..task.priority) %}★{% endfor %}</span>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
<div class="title_bar">
  <img class="image" src="https://www.svgrepo.com/download/306859/todoist.svg">
  <span class="title">Todoist</span>
  <span class="instance">{{ todoist_query }}</span>
</div>
